<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>789356467732-p73784fm0ub412v95sht0f637k20qrg6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.789356467732-p73784fm0ub412v95sht0f637k20qrg6</string>
	<key>API_KEY</key>
	<string>AIzaSyAbwTmqdkQnfC22xAFnJPwgTLg1o1AWeBw</string>
	<key>GCM_SENDER_ID</key>
	<string>789356467732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.damU4Proyecto119400664</string>
	<key>PROJECT_ID</key>
	<string>proyecto1-c81a8</string>
	<key>STORAGE_BUCKET</key>
	<string>proyecto1-c81a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789356467732:ios:d063620c7ebad4d9e5f901</string>
</dict>
</plist>